<section class="top-bar">
    <div class="medium-container split small" id="misc-0">
        <span class="medium-header small">
            <label class="title">Rewards Since Start:</label>
            <label class="value">{{((vault.cumulativeRewardsSinceStart | async) + (vault.rewardsInThisEpoch | async)) /1e18 | number}} {{project.tokenName}}</label>
        </span>
        <span class="medium-header small">
            <label class="title"># of Pools:</label>
            <label class="value">{{(vault.length | async) | number}}</label>
        </span>
    </div>
    <div class="medium-container split small" id="misc-1">
        <span class="medium-header small">
            <label class="title">Rewards This Epoch:</label>
            <label class="value">{{(vault.rewardsInThisEpoch | async) /1e18 | number}} {{project.tokenName}}</label>
        </span>
        <span class="medium-header small">
            <label class="title">Average Fees Per Block This Epoch:</label>
            <label class="value">{{(vault.averageFeesPerBlockEpoch | async) / 1e18 | number}}  {{project.tokenName}}</label>
        </span>
    </div>
</section>
<section class="pools-selector">
    <div class="pool-section after-info invert" [ngClass]="{'selected': allPools === true}" id="all-pools" (click)="toggleAllPools()">
        <img id="all-pools" src="../../assets/logos/pools/allpools.svg"/>
    </div>
    <div class="pool-section after-info invert" [ngClass]="{'selected': masterPools === true}"id="master-pools" (click)="toggleMasterPools()">
        <img id="master-pools" src="../../assets/logos/pools/auraflip.svg"/>
    </div>
    <div class="pool-section after-info invert" [ngClass]="{'selected': networkPools === true}"id="network-pools" (click)="toggleNetworkPools()">
        <img id="network-pools" src="../../assets/logos/pools/aurabnb.svg"/>
    </div>
    <div class="pool-section after-info invert" [ngClass]="{'selected': vipPools === true}" id="vip-pools" (click)="toggleVipPools()">
        <img id="vip-pools" src="../../assets/logos/pools/auraeos.svg"/>
    </div>
</section>
    <section class="wrapper">
        <app-farm *ngFor="let farm of (farms | slice:(firstSlice | async):(lastSlice | async)); let index = index" [data]="farm" [pid]="index" [@inOutAnimations]></app-farm>
        <div class="empty"></div>
    </section>