@import '../containers.scss';
:host {
    grid-area:router-outlet;
    display:grid;
    justify-content: stretch;
    align-content:start;
    
    @include containers;
    grid-template-rows:max-content max-content 1fr;
    row-gap:10px;
    overflow:hidden;
    section.wrapper, section.top-bar, section.pools-selector {
        display:grid;
        align-content:start;
        grid-template-columns:49.5% 49.5%;
        column-gap:10px;
        @media (max-width:1100px) {
            grid-template-rows:1fr;
            grid-template-columns:1fr;
            column-gap:10px;
        } 
    }
    section.top-bar {
        row-gap:10px;
    }
    section.wrapper {
        overflow-x:hidden;
        overflow-y:scroll;
    }
    div.empty {
        height:300px;
    }
    section.pools-selector {
        grid-template-columns:1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items:center;
        align-content:center;
        align-items:center;
        div.pool-section {
            position:relative;
            &#all-pools {
                &:after {
                    content: 'All Pools'
                }
            }
            &#master-pools {
                &:after {
                    content: 'Master Pools'
                }
            }
            &#network-pools {
                &:after {
                    content: 'Network Pools'
                }
            }
            &#vip-pools {
                &:after {
                    content: 'VIP Pools'
                }
            }
            &:before {
                transition:0.4s;
                opacity:0.0;
                content:'';
                position:absolute;
                top:-5px;
                right:-5px;
                left:-5px;
                bottom:-5px;
                grid-area:content;
                background:$black;
                z-index:-1;
                pointer-events: none;
            }
            &:hover {
                &:before {
                    opacity:1;
                    border-radius:10px;
                }
            }
            &.selected {
                &:before {
                    opacity:1;
                    border-radius:10px;
                }
            }
        }
        img {
            transition:0.4s;
            max-height:50px;
            cursor:pointer;
            position:relative;
        }
    }
    @media (max-height:600px) {
        section.top-bar {
            font-size:40%;
        }
    }
    @media (max-height:400px) {
        section.top-bar {
            height:0px;
            overflow:hidden;
        }
    }
}