@import '../theme.scss';
:host {
    grid-area:header;
    background:$black;
    display:grid;
    grid-template-areas:
    '. . .'
    '. content .'
    '. . .';
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;
    section.wrapper {
        grid-area:content;
        display:grid;
        justify-content: stretch;
        align-content: space-between;
        row-gap:5px;
        div.header-items-wrapper {
            display:grid;
            row-gap:10px;
            &.button {
                display:none;
                i {
                    pointer-events: all;
                    cursor:pointer;
                }
            }
            transition:0.4s;
            @media (max-width:600px), (max-height:800px) {
                &.menu {
                    width:0px;
                    height:0px;
                    overflow:hidden;
                }
                &.button{
                    display:grid;
                    i {
                        font-size:3rem;
                        color:$primary;
                        transition:0.4s;
                    }
                    * {
                        pointer-events:none;
                    }
                    cursor:pointer;
                    &:hover {
                        i {
                            color:$white;
                        }
                    }
                }
                &.opened {
                    &.menu {
                        width:fit-content;
                        height:fit-content;
                        min-height:100%;
                        display:grid!important;
                        transform:translateX(-10px);
                        background:$black;
                        padding:5px;
                        border-radius:0px 0px 4px 0px;
                        overflow-y:scroll;
                    }
                }
            }
        }
        app-wallet {
            align-self:end;
            transition:0.4s;
            &.opened {
                transition:0s;
                opacity:0;
                transform:scale(0);
                overflow:hidden;
            }
        }
        @media (max-width:600px), (max-height:800px) {
            grid-auto-flow: column;
            // grid-auto-columns: 1fr;
            column-gap:5px;
            max-height:100px;
            grid-template-areas: 'menu wallet button';
            grid-template-columns: 0px 1fr max-content;
            div.header-items-wrapper.menu {
                grid-area:menu;
            }
            div.header-items-wrapper.button {
                grid-area:button;
            }
            app-wallet {
                grid-area:wallet;
            }
        }
    }
    @media (max-height:800px) {
        grid-template-rows: 0px 1fr 0px;
    }
    
}