<section class="wrapper" (click)="close()">
    <span class="big-header" id="title">
        <h4>{{data.title}}</h4>
    </span>
    <span class="norm-header" id="text">
        <i class="material-icons">{{data.icon}}</i>
        <p class="text">{{data.text}}</p>
    </span>
    <span class="norm-header split" id="date">
        <label class="date">
            {{(data.date) | date}}
        </label>
        <label class="date">
            {{index + 1}} / {{(notificationsLength | async)}}
        </label>
    </span>
</section>