<section class="wrapper">
    <div class="wrapping-item" id="wbnb">
        <div (click)="bringWrap()" class="medium-container up-under naked" id="wrap" [ngClass]="{'selected': mode.wBNB.wrap === true}">
            <span class="medium-header"
            *ngIf="(user.lpBalance | async) as lpBalance;else greyed" [@inOutAnimations]>
                <label class="title">Wrap {{(liquidityToken.lpSymbol | async)}}</label>
            </span>
            <span class="medium-header"
            *ngIf="(user.lpBalance | async) as lpBalance;else greyed" [@inOutAnimations]>
                <label class="value">You have {{(lpBalance / 1e18) | number:'1.2-2'}} {{(liquidityToken.lpSymbol | async)}}</label>
            </span>
            <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
        </div>
        <div (click)="bringUnwrap()" class="medium-container up-under naked" id="unwrap" [ngClass]="{'selected': mode.wBNB.unwrap === true}">
            <span class="medium-header"
            *ngIf="(user.wLPBalance | async) as wLPBalance;else greyed" [@inOutAnimations]>
                <label class="title">Unwrap {{(liquidityToken.wLPSymbol | async)}}</label>
            </span>
            <span class="medium-header"
            *ngIf="(user.wLPBalance | async) as wLPBalance;else greyed" [@inOutAnimations]>
                <label class="value">You have {{(wLPBalance / 1e18) | number:'1.2-2'}} {{(liquidityToken.wLPSymbol | async)}}</label>
            </span>
            <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
        </div>
        <span class="input" id="input">
            <input [placeholder]="(inputPlaceholder | async)" #inputEle
            *ngIf="(user.lpBalance | async) as lpBalance;else greyed" [@inOutAnimations]/>
            <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
        </span>
        <span class="button" id="wrap-unwrap"
        *ngIf="(user.lpBalance | async) as lpBalance">
            <button [ngClass]="{
                'working' : (wrapButton | async) === 1 || (wrapButton | async) === 4,
                'failed' : (wrapButton | async) === 3,
                'success': (wrapButton | async) === 2 || (wrapButton | async) === 5
            }"
            (click)="wrap()"
            *ngIf="mode.wBNB.wrap === true">
                <label *ngIf="(wrapButton | async) === 0">Wrap</label>
                <label *ngIf="(wrapButton | async) === 1">Wrapping</label>
                <label *ngIf="(wrapButton | async) === 2">Wrapped</label>
                <label *ngIf="(wrapButton | async) === 3">Failed</label>
                <label *ngIf="(wrapButton | async) === 4">Approving</label>
                <label *ngIf="(wrapButton | async) === 5">Approved</label>
            </button>
            <button [ngClass]="{
                'working' : (unwrapButton | async) === 1 || (unwrapButton | async) === 4,
                'failed' : (unwrapButton | async) === 3,
                'success': (unwrapButton | async) === 2 || (unwrapButton | async) === 5
            }"
            (click)="unwrap()"
            *ngIf="mode.wBNB.unwrap === true">
                <label *ngIf="(unwrapButton | async) === 0">Unwrap</label>
                <label *ngIf="(unwrapButton | async) === 1">Unwrapping</label>
                <label *ngIf="(unwrapButton | async) === 2">Unwrapped</label>
                <label *ngIf="(unwrapButton | async) === 3">Failed</label>
                <label *ngIf="(unwrapButton | async) === 4">Approving</label>
                <label *ngIf="(unwrapButton | async) === 5">Approved</label>
            </button>
        </span>
    
    </div>
    <div class="empty"></div>
</section>