<section class="wrapper" *ngIf="(tokensToClaim | async) > 0 && (now | async) > ((ended | async) * 1000) && (currentChain | async) === projectChain" (click)="goClaim()" [@inOutAnimations]>
    <div class="medium-container inverse mushy">
        <i class="material-icons">info</i>
        <div class="message">
            You have tokens to claim from the LGE.
        </div>
    </div>
</section>

<section class="wrapper" *ngIf="(currentChain | async) !== projectChain && opened" (click)="close()" [@inOutAnimations]>
    <div class="medium-container inverse mushy">
        <i class="material-icons">info</i>
        <div class="message">
            You must connect to {{networkName}}.
        </div>
    </div>
</section>