<section class="wrapper" *ngIf="(wLPAddress | async) !== '0x0000000000000000000000000000000000000000'">
    <span class="large-header" id="name">
        <h3>{{project.name}} LGE</h3>
    </span>
    <span class="large-header" id="price">
        <label class="value" *ngIf="(data.LPTperBNBUnit | async) > 0 && (data.LPTperBNBUnit | async) as LPTperBNBUnit;">{{LPTperBNBUnit / 1e18 | number}} {{project.lpTokenName}} per 1 {{project.networkCurrency}}</label>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </span>
    <div class="small-container" id="time">
        <span class="small-header" *ngIf="(data.started | async) as started;else greyed" [@inOutAnimations]>
            <label class="title">Start Date</label>
            <label class="value">{{(started * 1000)  | date:'dd/MM/yyyy hh:mm:ss a'}}</label>
        </span>
        <span class="small-header" *ngIf="(data.ended | async) as ended;else greyed" [@inOutAnimations]>
            <label class="title">End Date</label>
            <label class="value" *ngIf="ended !== 0 && ended !== '0'">{{(ended * 1000) | date:'dd/MM/yyyy hh:mm:ss a'}}</label>
            <label class="value" *ngIf="ended === 0 || ended === '0'">Not Finished</label>
        </span>
        <span class="small-header value" *ngIf="(data.duration | async) as duration;else greyed" [@inOutAnimations]>
            <label class="title">Duration</label>
            <label class="value"><b>{{duration / 3600 | number}}</b> <small>hours</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <div class="medium-container" id="global">
        <span class="small-header value" *ngIf="(data.totalBNBContributed | async) as totalBNBContributed;else greyed" [@inOutAnimations]>
            <label class="title">Total Raised</label>
            <label class="value"><b>{{totalBNBContributed / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <span class="small-header value" *ngIf="(data.individualCap | async) as individualCap;else greyed" [@inOutAnimations]>
            <label class="title">Individual Cap</label>
            <label class="value"><b>{{individualCap / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <div class="medium-container" id="your" *ngIf="(data.user.contribution | async) > 1">
        <span class="small-header value" *ngIf="(data.user.contribution | async) as contribution;else greyed" [@inOutAnimations]>
            <label class="title">Your Contribution</label>
            <label class="value"><b>{{contribution / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <span class="small-header value" *ngIf="(data.user.contribution | async) as contribution;else greyed" [@inOutAnimations]>
            <label class="title">Your Share %</label>
            <label class="value"><b>{{((contribution / 1e18) / ((data.totalBNBContributed | async) / 1e18)) * 100 | number}}%</b> <small>{{project.lpTokenName}}</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <span class="input" id="input" *ngIf="(data.LPTperBNBUnit | async) < 1 && (wLPAddress | async) !== '0x0000000000000000000000000000000000000000' && (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 0">
        <input [placeholder]="inputPlaceholder" #inputEle/>
    </span>
    <span class="large-header" id="buttons" *ngIf="(data.user.contribution | async) as contribution;else greyedButtons" [@inOutAnimations]>
        <span class="button" id="deposit"
        *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 0 && (((data.started | async) * 1000) - (now | async)) < 0 && (data.LPTperBNBUnit | async) < 1 && (wLPAddress | async) !== '0x0000000000000000000000000000000000000000'">
            <button [ngClass]="{
                'working' : (data.depositButton | async) === 1 || (data.depositButton | async) === 4,
                'failed' : (data.depositButton | async) === 3,
                'success' : (data.depositButton | async) === 2  || (data.depositButton | async) === 5
            }"
            (click)="deposit()">
                <label *ngIf="(data.depositButton | async) === 0">Deposit</label>
                <label *ngIf="(data.depositButton | async) === 1">Depositing</label>
                <label *ngIf="(data.depositButton | async) === 2">Deposited</label>
                <label *ngIf="(data.depositButton | async) === 3">Failed</label>
                <label *ngIf="(data.depositButton | async) === 4">Approving</label>
                <label *ngIf="(data.depositButton | async) === 5">Approved</label>
                <label *ngIf="(data.depositButton | async) === 10">Confirm/Reject</label>
                
            </button>
        </span>
        <span class="button" id="claim"
        *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) < 0 && (data.LPTperBNBUnit | async) > 1 && contribution > 1">
            <button [ngClass]="{
                'working' : (data.claimButton | async) === 1,
                'failed' : (data.claimButton | async) === 3,
                'success' : (data.claimButton | async) === 2
            }"
            (click)="claim()">
                <label *ngIf="(data.claimButton | async) === 0">Claim</label>
                <label *ngIf="(data.claimButton | async) === 1">Claiming</label>
                <label *ngIf="(data.claimButton | async) === 2">Claimed</label>
                <label *ngIf="(data.claimButton | async) === 3">Failed</label>
                <label *ngIf="(data.claimButton | async) === 10">Confirm/Reject</label>
            </button>
        </span>
    </span>
    <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    <ng-template class="greyed-bar" #greyedButtons><div class="greyed-bar grey-button" [@inOutAnimations]></div></ng-template>
</section>
<section class="misc" *ngIf="(wLPAddress | async) !== '0x0000000000000000000000000000000000000000'">
    <i class="material-icons">alarm</i>
    <!-- STARTS GREATER THAN A DAY -->
    <p *ngIf="(data.LPTperBNBUnit | async) as LPTperBNBUnit;else greyed" [@inOutAnimations]>
        The LGE
        <ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 > 0">
            starts in
            {{((((data.started | async) * 1000) - (now | async)) / 1000 / 86400 | round)}} day<ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 / 86400 < 1 || (((data.started | async) * 1000) - (now | async)) / 1000 / 86400 > 2">s</ng-container>,
            {{((((data.started | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 | round)}} hour<ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 < 1 || (((data.started | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 > 2">s</ng-container>,
            {{((((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 | round)}} minute<ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 < 1 || (((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 > 2 ">s</ng-container> and 
            {{((((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 | round)}} second<ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 < 1 || (((data.started | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 > 2">s</ng-container>,
        </ng-container>
        <ng-container *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 < 0">
            started on {{(((data.started | async) * 1000) | date:'medium')}}
        </ng-container>
            
            and
            <ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 0 && LPTperBNBUnit > 0">
                ended on 
                {{((data.ended | async) * 1000) | date:'medium'}}
            </ng-container>
            <ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 0 && LPTperBNBUnit < 1">
                is awaiting to be launched. 
                <br><br>
                Press the button below!
            </ng-container>
            <ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 0">
            ends in 
            {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | round)}} day<ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 < 1 || (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 > 2">s</ng-container>,
            {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 | round)}} hour<ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 < 1 || (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 / 3600 > 2">s</ng-container>,
            {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 | round)}} minute<ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 < 1 || (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 / 60 > 2">s</ng-container> and 
            {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 | round)}} second<ng-container *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 < 1 || (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 % 86400 % 3600 % 60 > 2">s</ng-container>.
        </ng-container>
        <button class="inverse" [ngClass]="{
            'working' : (data.createLiquidityButton | async) === 1,
            'failed' : (data.createLiquidityButton | async) === 3,
            'success' : (data.createLiquidityButton | async) === 2
        }"
        (click)="createLiquidity()"
        *ngIf="LPTperBNBUnit < 1 && (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 0">
        <label *ngIf="(data.createLiquidityButton | async) === 0">End LGE</label>
        <label *ngIf="(data.createLiquidityButton | async) === 1">Ending</label>
        <label *ngIf="(data.createLiquidityButton | async) === 2">Ended</label>
        <label *ngIf="(data.createLiquidityButton | async) === 3">Failed</label>
        <label *ngIf="(data.createLiquidityButton | async) === 10">Confirm/Reject</label>
        </button>
        <br><br>
        The LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}.
        <br><br>
    </p>
    <ng-template class="greyed-bar" #greyed><div class="greyed-bar"></div></ng-template>
</section>
<section class="misc empty" *ngIf="(wLPAddress | async) === '0x0000000000000000000000000000000000000000'" [@inOutAnimations]>
    <!-- STARTS GREATER THAN A DAY -->
        <br><br>
        LGE announcement coming soon.
        <br><br>
</section>
<div class="empty"></div>
