<section class="wrapper">
    <div class="norm-container" id="name">
        <app-logo></app-logo>
        <span class="big-header">
            <h3>{{(token.name | async)}} LGE</h3>
        </span>
    </div>
    <span class="big-header" id="price">
        <label class="value" *ngIf="(data.FLIPperBNBUnit | async) > 0 && (data.FLIPperBNBUnit | async) as FLIPperBNBUnit;">{{FLIPperBNBUnit / 1e18 | number}} {{project.lpTokenName}} per 1 {{project.networkCurrency}}</label>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </span>
    <div class="small-container" id="time">
        <span class="small-header" *ngIf="(data.started | async) as started;else greyed" [@inOutAnimations]>
            <label class="title">Start Date</label>
            <label class="value">{{(started * 1000)  | date:'dd/MM/yyyy hh:mm:ss a'}}</label>
        </span>
        <span class="small-header" *ngIf="(data.ended | async) as ended;else greyed" [@inOutAnimations]>
            <label class="title">End Date</label>
            <label class="value">{{(ended * 1000) | date:'dd/MM/yyyy hh:mm:ss a'}}</label>
        </span>
        <span class="small-header value" *ngIf="(data.duration | async) as duration;else greyed" [@inOutAnimations]>
            <label class="title">Duration</label>
            <label class="value"><b>{{duration / 3600 | number}}</b> <small>hours</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <div class="small-container" id="global">
        <span class="small-header value" *ngIf="(data.totalBNBContributed | async) as totalBNBContributed;else greyed" [@inOutAnimations]>
            <label class="title">Total Tokens</label>
            <label class="value"><b>{{(totalBNBContributed / 1e18 * ((data.FLIPperBNBUnit | async) / 1e18)) | number}}</b> <small>{{project.lpTokenName}}</small></label>
        </span>
        <span class="small-header value" *ngIf="(data.totalBNBContributed | async) as totalBNBContributed;else greyed" [@inOutAnimations]>
            <label class="title">Total Contributions</label>
            <label class="value"><b>{{totalBNBContributed / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <span class="small-header value" *ngIf="(data.individualCap | async) as individualCap;else greyed" [@inOutAnimations]>
            <label class="title">Individual Cap</label>
            <label class="value"><b>{{individualCap / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <div class="norm-container" id="your" *ngIf="(data.user.contribution | async) > 1">
        <span class="small-header value" *ngIf="(data.user.contribution | async) as contribution;else greyed" [@inOutAnimations]>
            <label class="title">Your Contribution</label>
            <label class="value"><b>{{contribution / 1e18 | number}}</b> <small>{{project.networkCurrency}}</small></label>
        </span>
        <span class="small-header value" *ngIf="(data.user.contribution | async) as contribution;else greyed" [@inOutAnimations]>
            <label class="title">Your Share %</label>
            <label class="value"><b>{{((contribution / 1e18) / ((data.totalBNBContributed | async) / 1e18)) * 100 | number}}%</b> <small>{{project.lpTokenName}}</small></label>
        </span>
        <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    </div>
    <span class="input" id="input" *ngIf="(data.FLIPperBNBUnit | async) < 1">
        <input [placeholder]="inputPlaceholder" #inputEle/>
    </span>
    <span class="big-header" id="buttons" *ngIf="(data.user.contribution | async) as contribution;else greyedButtons" [@inOutAnimations]>
        <span class="button" id="deposit"
        *ngIf="(((data.started | async) * 1000) - (now | async)) < 0 && (data.FLIPperBNBUnit | async) < 1">
            <button [ngClass]="{
                'working' : (data.depositButton | async) === 1 || (data.withdrawButton | async) === 2,
                'failed' : (data.depositButton | async) === 3
            }"
            (click)="deposit()">
                <label *ngIf="(data.depositButton | async) === 0">Deposit</label>
                <label *ngIf="(data.depositButton | async) === 1">Depositing</label>
                <label *ngIf="(data.depositButton | async) === 2">Deposited</label>
                <label *ngIf="(data.depositButton | async) === 3">Failed</label>
                <label *ngIf="(data.depositButton | async) === 4">Approving</label>
                <label *ngIf="(data.depositButton | async) === 5">Approved</label>
            </button>
            <button *ngIf="(((data.started | async) * 1000) - (now | async)) > 0 && (data.FLIPperBNBUnit | async) < 1">
                <label>Starts in {{(((data.started | async) * 1000) - (now | async)) | number}} seconds.</label>
                <label *ngIf="(data.FLIPperBNBUnit | async) > 1">LGE Ended.</label>
            </button>
        </span>
        <span class="button" id="claim"
        *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) < 0 && (data.FLIPperBNBUnit | async) > 1 && contribution > 1">
            <button [ngClass]="{
                'working' : (data.claimButton | async) === 1 || (data.claimButton | async) === 2,
                'failed' : (data.claimButton | async) === 3
            }"
            (click)="claim()">
                <label *ngIf="(data.claimButton | async) === 0">Claim</label>
                <label *ngIf="(data.claimButton | async) === 1">Claiming</label>
                <label *ngIf="(data.claimButton | async) === 2">Claimed</label>
                <label *ngIf="(data.claimButton | async) === 3">Failed</label>
            </button>
            <button *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) > 0 && (data.FLIPperBNBUnit | async) > 1">
                <label *ngIf="((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 60 <= 1">Ends in {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) | number:'1.2-2'}} seconds.</label>
                <label *ngIf="((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 60 > 1 &&
                    ((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 3600 <= 1 ">Ends in {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 60 | number:'1.2-2'}} minutes.</label>
                <label *ngIf="((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 3600 > 1 &&
                ((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 86400 <= 1">Ends in {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 3600 | number:'1.2-2'}} hours.</label>
                <label *ngIf="((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 86400 > 1">Ends in {{((((data.calculatedEnd | async) * 1000) - (now | async)) / 1000) / 86400 | number:'1.2-2'}} days.</label>
            </button>
        </span>
    </span>
    <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
    <ng-template class="greyed-bar" #greyedButtons><div class="greyed-bar grey-button" [@inOutAnimations]></div></ng-template>
</section>
<section class="misc">
    <i class="material-icons">alarm</i>
    <!-- STARTS GREATER THAN A DAY -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 > 86400">
        The LGE starts in {{(((data.started | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days.
        <br><br>
    </p>
    <!-- STARTS GREATER THAN AN HOUR -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 > 3600 &&
        (((data.started | async) * 1000) - (now | async)) / 1000 < 86399">
        The LGE starts in {{(((data.started | async) * 1000) - (now | async)) / 1000 / 3600 | number:'1.2-2'}} hours, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days.
        <br><br>
    </p>
    <!-- STARTS GREATER THAN A MINUTE -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 > 60 &&
        (((data.started | async) * 1000) - (now | async)) / 1000 < 3599">
        The LGE starts in {{(((data.started | async) * 1000) - (now | async)) / 1000 / 60 | number:'1.2-2'}} minutes, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days.
        <br><br>
    </p>
    
    <!-- STARTS WITHIN A MINUTE -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 > 0 &&
        (((data.started | async) * 1000) - (now | async)) / 1000 < 59">
        The LGE starts in {{(((data.started | async) * 1000) - (now | async)) / 1000 | number:'1.2-2'}} seconds, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days.
        <br><br>
    </p>
    <!-- ENDED -->
    <p *ngIf="(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 0">
        The LGE started on {{(((data.started | async) * 1000) | date)}}, and ended on 
        {{((data.ended | async) * 1000) | date}}.
        <br><br>
        The LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}.
        <button class="inverse" [ngClass]="{
            'working' : (data.createLiquidityButton | async) === 1 || (data.createLiquidityButton | async) === 2,
            'failed' : (data.createLiquidityButton | async) === 3
        }"
        (click)="createLiquidity()"
        *ngIf="(data.FLIPperBNBUnit | async) < 1">
        <label *ngIf="(data.createLiquidityButton | async) === 0">End LGE</label>
        <label *ngIf="(data.createLiquidityButton | async) === 1">Ending</label>
        <label *ngIf="(data.createLiquidityButton | async) === 2">Ended</label>
        <label *ngIf="(data.createLiquidityButton | async) === 3">Failed</label>
    </button>
    </p>
    <!-- ENDS WITHIN 60 SECONDS -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 < 0 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 60 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 0">
        The LGE started on {{(((data.started | async) * 1000) | date)}}, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 | number:'1.2-2'}} seconds.
        <br><br>
        So far, the LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}
    </p>
    <!-- ENDS WITHIN 1 HOUR -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 < 0 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 61 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 3600">
        The LGE started on {{(((data.started | async) * 1000) | date)}}, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 60 | number:'1.2-2'}} minutes.
        <br><br>
        So far, the LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}
    </p>
    <!-- ENDS WITHIN 1 DAY -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 < 0 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 3601 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 < 86400">
        The LGE started on {{(((data.started | async) * 1000) | date)}}, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 3600 | number:'1.2-2'}} hours.
        <br><br>
        So far, the LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}
    </p>
    <!-- ENDS GREATER THAN 1 DAY -->
    <p *ngIf="(((data.started | async) * 1000) - (now | async)) / 1000 < 0 &&
    (((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 > 86401">
        The LGE started on {{(((data.started | async) * 1000) | date)}}, and ends in 
        {{(((data.calculatedEnd | async) * 1000) - (now | async)) / 1000 / 86400 | number:'1.2-2'}} days.
        <br><br>
        So far, the LGE has raised {{((data.totalBNBContributed | async) / 1e18) | number:'1.2-2'}} {{project.networkCurrency}}
    </p>
    <!-- <div class="norm-container" id="timers">
        <span class="small-header">
            <label class="title">End Time</label>
            <label class="value">{{((data.calculatedEnd | async) * 1000) - (now | async)}}</label>
        </span>
        <span class="small-header">
            <label class="title">End Time</label>
            <label class="value">{{((data.calculatedEnd | async) * 1000) - (now | async)}}</label>
        </span>
    </div> -->
</section>
