@import '../theme.scss';
:host {
    display:grid;
    grid-template-areas:
    '. . .'
    '. wallet .'
    '. bnb .'
    '. aura .'
    '. flipwbnb .'
    '. wflipwbnb .'
    '. . .';
    grid-template-columns: 2.5px 1fr 2.5px;
    grid-template-rows: 5px max-content max-content max-content max-content max-content 5px;
    row-gap:10px;
    height:fit-content;
    section.balance {
        display:grid;
        grid-template-areas:
        '. . . .'
        '. address balance .'
        '. . . .';
        grid-template-columns: 5px 45px 1fr 5px;
        grid-template-rows: 10px 1fr 10px;
        column-gap:2px;
        cursor:pointer;
        align-content:center;
        align-items:center;
        background:rgba(0,0,0,0.4);
        border-radius:4px;
        @media (max-height:800px) {
            grid-template-rows: 2px 1fr 2px;
        }
        * {
            pointer-events: none;
        }
        div {
            &#address {
                grid-area:address;
            }
            &#balance {
                display:grid;
                align-items: center;
                min-height:100%;
                grid-area:balance;
                background: $complement; /* Old browsers */
                background: -moz-linear-gradient(top,  $complement 0%, $primary 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  $complement 0%, $primary 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  $complement 0%, $primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ffb0', endColorstr='#89daff',GradientType=0 ); /* IE6-9 */
                color:$black;
                border-radius:4px;
                text-align:center;
            }
        }
        &#wallet {
            grid-area:wallet;
            i {
                font-size:1rem;
            }
        }
        &#bnb {
            grid-area:bnb;
        }
        &#aura {
            grid-area:aura;
        }
        &#flipwbnb {
            grid-area:flipwbnb;
        }
        &#wflipwbnb {
            grid-area:wflipwbnb;
        }
    }
    @media (max-width:600px), (max-height:800px) {
        border-radius: 0px 0px 8px 8px;
        section.balance {
         display:none!important;   
        }
        section#wallet {
            display:grid!important;
        }
        &.viewing {
            z-index:9999999999;
            max-height:fit-content;
            background:$black;
            section.balance {
             display:grid!important;   
            }
        }
    }
}