<section class="balances">
    <section class="balance" id="wallet" *ngIf="(user.address | async) !== ''" (click)="viewBalances()" [@inOutAnimations]>
        <div id="address">
            <i class="material-icons">account_balance_wallet</i>
        </div>
        <div id="balance">
            <span class="mobile" *ngIf="viewingBalances">
                Close Wallet
            </span>
            <span class="non-mobile" *ngIf="viewingBalances">
                {{(user.address | async) | slice:0:5}}...{{(user.address | async) | slice:37:42}}
            </span>
            <span *ngIf="!viewingBalances">
                {{(user.address | async) | slice:0:5}}...{{(user.address | async) | slice:37:42}}
            </span>
        </div>
    </section>
    <section class="balance" id="wallet" *ngIf="(user.address | async) === ''" (click)="connectWallet()" [@inOutAnimations]>
        <div id="address">
            <i class="material-icons light">login</i>
        </div>
        <div id="balance">
            <span>
                Connect
            </span>
        </div>
    </section>
    <section class="balance" id="bnb" *ngIf="(user.address | async) !== '' && showingPoolTokensStyle && (user.bnbBalance | async) as bnbBalance;else greyed" [@inOutAnimations]>
        <div id="address">
            <span>
                {{project.networkCurrency}}
            </span>
        </div>
        <div id="balance">
            <span>
                {{((bnbBalance / 1e18) | number:'1.2-2')}}
            </span>
        </div>
    </section>
    <!-- <section class="balance pool-balance" *ngFor="let poolItem of poolInfo | slice: 3;">-->
    <ng-container  *ngFor="let poolItem of poolInfo;">
        <section class="balance pool-balance" *ngIf="(user.address | async) !== ''">
            <div id="address" *ngIf="(poolItem.token.symbol | async) as tokenSymbol;else greyeda">
                <span>
                    {{tokenSymbol | slice:0:4}}
                </span>
            </div>
            <div id="balance" *ngIf="(poolItem.userBalance | async) as userBalance;else greyedn">
                <span>
                    <!-- {{(poolItem.token.name | async)}} -->
                    {{((userBalance / 1e18) | number:'1.2-2')}}
                </span>
            </div>
            <ng-template class="greyed-bar balance" #greyeda><div class="greyed-bar balance" id="address" [@inOutAnimations]></div></ng-template>
            <ng-template class="greyed-bar balance" #greyedn><div class="greyed-bar balance" id="balance" [@inOutAnimations]></div></ng-template>
        </section>
    </ng-container>
    <section class="balance pool-balance-switch" (click)="showPoolTokens()" *ngIf="(user.address | async) && !showingPoolTokensStyle" [@inOutAnimations]>
        <div id="address">
            <span class="shiny">
                <i class="material-icons">add_circle</i>
            </span>
        </div>
        <div id="balance">
            <span class="small">
                Show Balances
            </span>
        </div>
    </section>
    <section class="balance pool-balance-switch" (click)="showPoolTokens()" *ngIf="(user.address | async) && showingPoolTokensStyle" [@inOutAnimations]>
        <div id="address">
            <span class="shiny">
                <i class="material-icons">remove_circle</i>
            </span>
        </div>
        <div id="balance">
            <span class="small">
                Hide Balances
            </span>
        </div>
    </section>
    <section class="balance pool-balance-switch" (click)="logout()" *ngIf="(user.address | async) !== '' && !showingPoolTokensStyle" [@inOutAnimations]>
        <div id="address">
            <span class="shiny">
                <i class="material-icons">logout</i>
            </span>
        </div>
        <div id="balance">
            <span class="small">
                Logout
            </span>
        </div>
    </section>
    <ng-template class="greyed-bar balance" #greyed><div class="greyed-bar balance" [@inOutAnimations]></div></ng-template>
</section>