@import '../containers.scss';
:host {
    grid-area:router-outlet;
    display:grid;
    grid-template-areas:
    '. . .'
    '. wrapper .'
    '. . .';
    grid-template-columns: 0px 1fr 0px;
    grid-template-rows:0px 1fr 0px;
    justify-content: space-around;
    overflow-y:scroll;
    section.wrapper {
        max-height:fit-content;
        max-width:min-content;
        min-width:100%;
        height:auto;
        grid-area:wrapper;
        display:grid;
    }
}