<section class="wrapper naked">
    <app-dashboard-chart id="chart" *ngIf="(exchange.dayData | async) !== 0" [data]="(exchange.dayData | async)">

    </app-dashboard-chart>
    <section id="chart" *ngIf="(exchange.dayData | async) === 0">
        Awaiting Exchange Data...
    </section>
    <section class="wrapper-inner naked" id="volume">
        <h5 id="stat-line-00-header" class="header">Volume</h5>
        <div class="big-container" id="stat-line-00">
            <div class="small-container" id="total-volume">
                    <span class="small-header value" *ngIf="(exchange.volume | async) as volume;else greyed" [@inOutAnimations]>
                        <label class="title">Total Volume <small>(in {{project.tokenName}})</small></label>
                        <label class="value small"><b>{{volume | number}}</b> <small>{{project.tokenName}}</small></label>
                    </span>
                    <span class="small-header value" *ngIf="(exchange.volumeNetworkCurrency | async) as volumeNetworkCurrency;else greyed" [@inOutAnimations]>
                        <label class="title">Total Volume <small>(in W{{project.networkCurrency}})</small></label>
                        <label class="value small"><b>{{volumeNetworkCurrency | number}}</b> <small>w{{project.networkCurrency}}</small></label>
                    </span>
                    <span class="small-header value" *ngIf="(exchange.volumeUSD | async) as volumeUSD;else greyed" [@inOutAnimations]>
                        <label class="title">Total Volume <small>(in USD)</small></label>
                        <label class="value small"><b>{{volumeUSD | currency}}</b> <small>USD</small></label>
                    </span>
                    <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
            </div>
        </div>
    </section>
    <section class="wrapper-inner naked" id="rewards">
        <h5 id="stat-line-00-header" class="header">Rewards</h5>
        <div class="big-container" id="stat-line-00">
        
            <div class="medium-container" id="rewards-given">
                <span class="small-header value" *ngIf="(vault.cumulativeRewardsSinceStart | async) as rewardsSinceStart;else greyed" [@inOutAnimations]>
                    <label class="title">Total Rewards <small>(in {{project.tokenName}})</small></label>
                    <label class="value small"><b>{{(rewardsSinceStart + (vault.rewardsInThisEpoch | async)) / 1e18 | number}}</b> <small>{{project.tokenName}}</small></label>
                </span>
                <span class="small-header value" *ngIf="(priceInUSD | async) as priceInUSD;else greyed" [@inOutAnimations]>
                    <label class="title">Total Rewards <small>(in USD)</small></label>
                    <label class="value small"><b>{{(((vault.cumulativeRewardsSinceStart | async) + (vault.rewardsInThisEpoch | async)) / 1e18) * priceInUSD | currency}}</b> <small>USD</small></label>
                </span>
                <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
            </div>
        </div>
    </section>
    <section class="wrapper-inner naked" id="tokenomics">
        <h5 id="stat-line-00-header" class="header">Tokenomics</h5>
        <div class="small-container naked" id="stat-line-00">
            <div class="medium-container" id="marketcap">
            <span class="small-header value" *ngIf="(priceInUSD | async) as priceInUSD;else greyed" [@inOutAnimations]>
                        <label class="title">Marketcap <small>(total)</small></label>
                        <label class="value small"><b>{{((token.totalSupply | async) / 1e18) * priceInUSD | currency}}</b> <small>USD</small></label>
                    </span>
                    <span class="small-header value" *ngIf="(priceInUSD | async) as priceInUSD;else greyed" [@inOutAnimations]>
                        <label class="title">Marketcap <small>(circulating)</small></label>
                        <label class="value small"><b>{{((token.totalSupply | async) / 1e18) * priceInUSD | currency}}</b> <small>USD</small></label>
                    </span>
                    <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
            </div>
        
            <div class="medium-container" id="supply">
                <span class="small-header value" *ngIf="(token.totalSupply | async) as totalSupply;else greyed" [@inOutAnimations]>
                    <label class="title">Supply <small>(total)</small></label>
                    <label class="value small"><b>{{totalSupply / 1e18 | number}}</b> <small>{{project.tokenName}}</small></label>
                </span>
                <span class="small-header value" *ngIf="(token.circulatingSupply | async) as totalSupply;else greyed" [@inOutAnimations]>
                    <label class="title">Supply <small>(circulating)</small></label>
                    <label class="value small"><b>{{totalSupply / 1e18 | number}}</b> <small>{{project.tokenName}}</small></label>
                </span>
                <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
            </div>

            <div class="medium-container" id="price">
                <span class="small-header value" *ngIf="(priceInUSD | async) as priceInUSD;else greyed" [@inOutAnimations]>
                    <label class="title">Price <small>(in USD)</small></label>
                    <label class="value small"><b>{{priceInUSD / 1e18 | currency}}</b> <small>USD</small></label>
                </span>
                <span class="small-header value" *ngIf="(priceInNetworkCurrency | async) as priceInNetworkCurrency;else greyed" [@inOutAnimations]>
                    <label class="title">Price <small>(in W{{project.networkCurrency}})</small></label>
                    <label class="value small"><b>{{priceInNetworkCurrency | number:'0.8-8'}}</b> <small>w{{project.networkCurrency}}</small></label>
                </span>
                <ng-template class="greyed-bar" #greyed><div class="greyed-bar" [@inOutAnimations]></div></ng-template>
            </div>
        </div>
    </section>
    <div class="empty"></div>
</section>