@import '../theme.scss';
:host {
    // grid-area:router-outlet;
    display:grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 200px 1fr;
    @media (max-width:500px) {
        
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
    justify-items:start;
    }
    div.wrapper {
        align-self:center;
    }
    h1 {
        text-decoration:underline solid $white;
    }
    h1, h5 {
        margin:0px;
        color:$black;
    }
    h5 {
        font-size:1rem;
    }
}